* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Master Style */
body{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

/* Nav Bar */
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(241, 236, 236);
    width: 100%;
    height: 70px;
    z-index: 1;
    opacity: 90%;
    
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
a{
    margin: 15px;
    color: rgb(78, 78, 78);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s;
}
.nav a:hover{
    border-bottom: 1px solid black;
    color: black;
    transition: border-bottom 0.5s;
}

.banner-area{
    position: relative;
    background-image: url(images/LA2.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 85%;
}
.banner-area h1, h2{
    position: relative;
    text-align: center;
    justify-content: center;
    top: 300px;
    opacity: 90%;
    text-transform: uppercase;
}
.banner-area h1{
    font-size: 90px;
}
.split{
    display: flex;
}
.space{
    height: 300px;
    width: 100%;
    background-image: url(images/med.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(255, 255, 255);
    opacity: 70%;
    box-shadow: rgb(255, 255, 255);
}
.space-two{
    height: 300px;
    width: 100%;
    background-image: url(images/colab.gif);
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgb(255, 255, 255);
    opacity: 70%;
}
/* Font Awesome Logos */
.icons{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    top: 300px;
    opacity: 90%;
    list-style: none;
    margin-right: 2%;
}

/* Button For Scrolling */
.button{
    position: relative;  
    bottom: -60%;
    right: -50%;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button i:hover{
    color: rgb(243, 117, 0);
}


/* Machine Learning Section */
section{
    background-color: rgb(255, 255, 255);
}

.container-split{
    height: 100vh;
    display: flex;
    opacity: 80%;
}

section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: all 0.5s;
}

section h1{
    background: rgba(0, 0, 0, 0.6) ;
    color: white;
    padding: 12px 32px;
    border: rgb(255, 255, 255) 1px solid;
}

.one{
    background: url('images/dl2.jpg') rgb(124, 124, 124);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.two{
    background: url('images/nl.jpg') rgb(124, 124, 124);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.three{
    background: url('images/dv.jpg') rgb(124, 124, 124);
    background-position: right;
    background-size: cover;
    background-blend-mode: multiply;
}

section:hover{
    flex:2;
    transition: flex .5s;
}

.title{
    text-align: center;
    text-transform: uppercase;
    margin: 5%;
    font-size: 45px;
    letter-spacing: 1px;
    opacity: 90%;
}

.ml-div h1{
    text-align: center;
    padding-bottom: 20px;
    opacity: 90%;
    margin-top: 5%;
}
.ml-div h3{
    margin-top: 2%;
}
.ml-div{
    text-align: left;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

/* Skills Logos */
.skills{
    display: flex;
}

.skills img{
    width: fit-content;
    height: fit-content;
}

/* Contact Form */
.contact{
    background-color: rgb(113, 70, 153);
    background-size: cover;
    padding: 50px;
}

.contact-title{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-style: normal;
}

.contactme{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-text{
    font-family: "Lato", sans-serif;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    color: blanchedalmond;
}

.contact-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}


/* slider{
    display: block;
    width: 100%;
    height: 200px;
    background-color: #11ff11;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 200px;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}
slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(images/portfolio1.jpg);
    background-repeat: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(images/portfolio2.jpg);
    background-repeat: cover;
    background-position: center;
}
slide:nth-child(3) {
    
    animation-delay: 5s;
    background-image: url(images/portfolio3.jpg);
    background-repeat: cover;
    background-position: center;
}
slide:nth-child(4) {
    left: 0%;
    animation-delay: 8s;
    background-image: url(images/portfolio1.jpg);
    background-repeat: cover;
    background-position: center;
}

slide p{
    font-family: "Lato", sans-serif;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
}

@keyframes slide {
    0% {left: 100%; width: 100%;}
    5% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%; width: 100%;}
    30.0001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
} */